<div class="city-title text-bright">{{city.name}}</div>
<div class="time text-bright" {{action 'onTimeClick' 1}}>{{moment-format (local-time source=time tz=city.tz) 'h:mm:ss a'}}</div>
<div></div>
<div class="date">{{moment-format (local-time source=time tz=city.tz) 'ddd, D MMM YYYY'}}</div>
