.o-720 {
  transform: translateX(calc(720px - 60px));
}

.o-660 {
  transform: translateX(calc(660px - 60px));
}

.o-600 {
  transform: translateX(calc(600px - 60px));
}

.o-570 {
  transform: translateX(calc(570px - 60px));
}

.o-540 {
  transform: translateX(calc(540px - 60px));
}

.o-480 {
  transform: translateX(calc(480px - 60px));
}

.o-420 {
  transform: translateX(calc(420px - 60px));
}

.o-360 {
  transform: translateX(calc(360px - 60px));
}

.o-300 {
  transform: translateX(calc(300px - 60px));
}

.o-240 {
  transform: translateX(calc(240px - 60px));
}

.o-210 {
  transform: translateX(calc(210px - 60px));
}

.o-180 {
  transform: translateX(calc(180px - 60px));
}

.o-120 {
  transform: translateX(calc(120px - 60px));
}

.o-60 {
  transform: translateX(calc(60px - 60px));
}

.o60 {
  transform: translateX(calc(-60px - 60px));
}

.o120 {
  transform: translateX(calc(-120px - 60px));
}

.o180 {
  transform: translateX(calc(-180px - 60px));
}

.o210 {
  transform: translateX(calc(-210px - 60px));
}

.o240 {
  transform: translateX(calc(-240px - 60px));
}

.o270 {
  transform: translateX(calc(-270px - 60px));
}

.o300 {
  transform: translateX(calc(-300px - 60px));
}

.o330 {
  transform: translateX(calc(-330px - 60px));
}

.o360 {
  transform: translateX(calc(-360px - 60px));
}

.o390 {
  transform: translateX(calc(-390px - 60px));
}

.o420 {
  transform: translateX(calc(-420px - 60px));
}

.o480 {
  transform: translateX(calc(-480px - 60px));
}

.o510 {
  transform: translateX(calc(-510px - 60px));
}

.o525 {
  transform: translateX(calc(-525px - 60px));
}

.o540 {
  transform: translateX(calc(-540px - 60px));
}

.o570 {
  transform: translateX(calc(-570px - 60px));
}

.o600 {
  transform: translateX(calc(-600px - 60px));
}

.o630 {
  transform: translateX(calc(-630px - 60px));
}

.o660 {
  transform: translateX(calc(-660px - 60px));
}

.o720 {
  transform: translateX(calc(-720px - 60px));
}

.o765 {
  transform: translateX(calc(-765px - 60px));
}

.o780 {
  transform: translateX(calc(-780px - 60px));
}

.o840 {
  transform: translateX(calc(-840px - 60px));
}
