.o-720 {
  transform: translateX(720px);
}

.o-660 {
  transform: translateX(660px);
}

.o-600 {
  transform: translateX(600px);
}

.o-570 {
  transform: translateX(570px);
}

.o-540 {
  transform: translateX(540px);
}

.o-480 {
  transform: translateX(480px);
}

.o-420 {
  transform: translateX(420px);
}

.o-360 {
  transform: translateX(360px);
}

.o-300 {
  transform: translateX(300px);
}

.o-240 {
  transform: translateX(240px);
}

.o-210 {
  transform: translateX(210px);
}

.o-180 {
  transform: translateX(180px);
}

.o-120 {
  transform: translateX(120px);
}

.o-60 {
  transform: translateX(60px);
}

.o0 {
  transform: translateX(0px);
}

.o60 {
  transform: translateX(-60px);
}

.o120 {
  transform: translateX(-120px);
}

.o180 {
  transform: translateX(-180px);
}

.o210 {
  transform: translateX(-210px);
}

.o240 {
  transform: translateX(-240px);
}

.o270 {
  transform: translateX(-270px);
}

.o300 {
  transform: translateX(-300px);
}

.o330 {
  transform: translateX(-330px);
}

.o360 {
  transform: translateX(-360px);
}

.o390 {
  transform: translateX(-390px);
}

.o420 {
  transform: translateX(-420px);
}

.o480 {
  transform: translateX(-480px);
}

.o510 {
  transform: translateX(-510px);
}

.o525 {
  transform: translateX(-525px);
}

.o540 {
  transform: translateX(-540px);
}

.o570 {
  transform: translateX(-570px);
}

.o600 {
  transform: translateX(-600px);
}

.o630 {
  transform: translateX(-630px);
}

.o660 {
  transform: translateX(-660px);
}

.o720 {
  transform: translateX(-720px);
}

.o765 {
  transform: translateX(-765px);
}

.o780 {
  transform: translateX(-780px);
}

.o840 {
  transform: translateX(-840px);
}
