@import 'vars';
@import 'functions';
@import 'sf';
@import 'icons';
@import 'components/city-search';
@import 'components/clock';
@import 'components/header';

body {
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  color: _color(text);
  background: linear-gradient(to bottom, #000000 0%,#222222 100%);
  background-attachment: fixed;
  margin: 0;
}

a {
  color: _color(link);
  text-decoration: none;
}

.text-small {
  font-size: 14px;
}

.text-bright {
  color: _color(text-bright);
}

input[type='text'] {
  height: 24px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  font-family: 'San Francisco';

  &::placeholder {
    color: _color(text-dull);
  }
}
