@font-face {
  font-family: "San Francisco";
  font-weight: 200; // Light
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscotext-light-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400; // Regular
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscotext-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 700; // Bold
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscotext-bold-webfont.woff");
}
