section.cities {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  overflow-x: hidden;
  touch-action: none;

  &:focus {
    outline: none;
  }

  .city {
    display: grid;
  }

  .info {
    position: fixed;
    display: grid;
    left: calc(100vw / 2 - 240px);
    height: 48px;
    grid-template-columns: 240px 240px;
    grid-template-rows: minmax(1rem, auto) minmax(1rem, auto);

    div {
      padding: 0 16px;
    }

    div:nth-child(3) {
      height: 32px;
    }

    div:nth-child(2n+1) {
      justify-self: right;
      border-right: 1px solid _color(text-dull);
    }

    div:nth-child(2n) {
      justify-self: left;
    }

    &.is-updated {

      .time,
      .date {
        // animation-timing-function: ease-in-out;
        // animation-duration: _duration(fade-time);
        // animation-name: fadein;
      }

      @keyframes fadein {
        from {
          opacity: 0;
        }

        to {
         opacity: 1;
        }
      }
    }

    &.fadeout {

      .time,
      .date {
        // animation-timing-function: ease-in-out;
        // animation-duration: _duration(fade-time);
        // animation-name: fadeout;
        // animation-fill-mode: forwards;
      }

      @keyframes fadeout {
        from {
          opacity: 1;
        }

        to {
         opacity: 0;
        }
      }
    }
  }

  .hours-wrapper {
    margin-top: 56px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 60px;
    transform: translateX(var(--tx));
    transition: transform var(--duration) ease-in-out;
    will-change: transform;


    .hour {
      border-top: 1px solid _color(text-dull);
      color: _color(text-dull);
      padding: 8px 0;

      &.working {
        border-top: 2px solid _color(text-bright);
        color: _color(text-bright);
      }
    }
  }
}
