<header>
  <div>
    {{#link-to 'search' classNames='search'}}<img src="assets/images/find.svg" class="search-icon">{{/link-to}}
  </div>
</header>
<main>
  {{outlet}}
</main>
<footer>
  <p>Rdea International Clock</p>
</footer>